.logo {
  position: absolute;
  font-size: 48px;
  font-weight: bold;
  color: white;
  user-select: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 
               0 0 8px rgba(255, 255, 255, 0.8), 
               0 0 12px rgba(255, 255, 255, 0.6);
  transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
  z-index: 2; /* Повышаем z-index, чтобы текст был поверх волн */
}

.wave {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%; /* Полный круг */
  border: 2px solid rgba(0, 0, 0, 0.7); /* Черный цвет волны с полупрозрачностью */
  animation: waveAnimation 4s ease-out; /* Уменьшаем скорость анимации и увеличиваем длительность до 4 секунд */
  pointer-events: none; /* Отключение взаимодействий с мышью */
  z-index: 1; /* Снижаем z-index, чтобы волны были под текстом */
  transform-origin: center center; /* Точка начала анимации */
}

@keyframes waveAnimation {
  from {
    width: 0;
    height: 0;
    opacity: 1;
  }
  to {
    width: 700px; /* Размер конечной волны */
    height: 700px; /* Размер конечной волны */
    opacity: 0;
  }
}
